<!DOCTYPE html>

<script>
    localStorage.setItem("api-inicjuj-url", "@Url.Action("inicjuj", "Js")");
    localStorage.setItem("api-obsluzRuch-url", "@Url.Action("obsluzRuch", "Js")");
    localStorage.setItem("api-usunPionek-url", "@Url.Action("usunPionek", "Js")");
    localStorage.setItem("api-znajdzRuchy-url", "@Url.Action("znajdzRuchy", "Js")");
    localStorage.setItem( "api-znajdzNajlRuch-url", "@Url.Action("kompZnajdzRuch", "Js")");

</script>

<html>
<head>
    @RenderSection("styles", required: false)
    @RenderSection("scripts", required: false)

</head>
<body style="background-color:#FFFF99">

    <div style="margin-left:60px">
        @RenderBody()
    </div>

</body>
</html>